/* Color scheme */
/*-------- 3.1 Preloader --------*/
[data-loader="circle-side"] {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	-webkit-animation: circle infinite .95s linear;
	-moz-animation: circle infinite .95s linear;
	-o-animation: circle infinite .95s linear;
	animation: circle infinite .95s linear;
	border: 2px solid #2780c2;
	border-top-color: rgba(0, 0, 0, .2);
	border-right-color: rgba(0, 0, 0, .2);
	border-bottom-color: rgba(0, 0, 0, .2);
	border-radius: 100%;
}
/*-------- 1.2 Buttons --------*/
	a.button_intro_2,
	.button_intro_2 {
		background: #ed1818;
	}
	a.button_intro_2:hover,
	.button_intro_2:hover {
		color: #00a99d !important;
	}
	a.btn_full,
	.btn_full {
		background: #ed1818;
	}
	a.btn_full:hover,
	.btn_full:hover {
		background: #3186c5;
	}
	a.btn_1,
	.btn_1 {
		background: #ed1818;
	}
	a.btn_1:hover,
	.btn_1:hover {
		background: #3186c5;
	}
	a.btn_1_outline,
	.btn_1_outline {
		color: #00a99d;
		border: 2px solid #00a99d;
	}
	a.btn_1_outline:hover,
	.btn_1_outline:hover {
		background: #3186c5;
		border: 2px solid #3186c5;
		color: #fff;
	}
	/*General links color*/
	a {
		color: #00a99d;
	}
	a:hover,
	a:focus {
		color: #333;
	}
/*============================================================================================*/
/* MENU */
/*============================================================================================*/

	ul#tools_top li a.search-overlay-menu-btn:hover {
		color: #0784D4;
	}
	/*First level styles */			
	.main-menu > ul > li:hover > a {background-color:#0784D4;}

@media only screen and (min-width: 992px) {
	
	/* Submenu style*/
	.main-menu ul ul li:hover > a {background-color:#f9f9f9;color:#0784D4;}
	/* Megamenu */
	.main-menu ul li.megamenu .menu-wrapper {border-top: 2px solid #0784D4;}
}

@media only screen and (max-width: 991px) {
	#header_menu{background:##0784D4 url(../img/pattern_3.png) repeat;}
	.main-menu ul li a:hover,
	a.show-submenu:hover,
	a.show-submenu:focus,
	a.show-submenu-mega:hover,
	a.show-submenu-mega:focus{color:#0784D4 !important;background-color:#f9f9f9;}	
}
/*============================================================================================*/
/* end MENU */
/*============================================================================================*/

	h2 span,
	h3 span,
	h4 span,
	h5 span,
	h6 span {
		color:#ed5434;
	}
	#top_line {
		background: #2780c2 url(../img/pattern_3.png) repeat;
	}
	
	.box_style_2 h3 {
		background-color: #2780c2;
		color: #fff;
	}
	
	#tickets.table tr.total_row {
		color: #2780c2;
	}
	
	#tickets.table td input#total {
		color: #2780c2;
	}
	
	.indent_title_in i {
		color: #2780c2;
	}
	
	.bloglist ul li a:hover,
	.bloglist h4 a:hover {
		color: #2780c2;
	}
	.owl-theme .owl-dots .owl-dot.active span,
	.owl-theme .owl-dots .owl-dot:hover span {
		background: #2780c2;
	}
	.pagination > li > a:hover,
	.pagination > li > span:hover {
		background-color: #2780c2 !important;
		border-color: #2780c2 !important;
		color: #ffffff !important;
	}
	.list_tours ul li a .price_list {
	color: #ed5434;
	}
	.list_tours ul li a .price_list:hover {
		color: #ed5434;
	}
	.short_info strong {
		background-color: #ed5434;
	}
	.price_grid {
		background-color: #ed5434;
	}
	.banner {
		background: #2780c2 url(../img/pattern_3.png) repeat;
	}
	.panel-title a .indicator {
		color: #2780c2;
	}
	.box_style_2 h3 span{
	color: #FF9;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}
/*============================================================================================*/
/* End of Codes */
/*============================================================================================*/


